.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  background: #252525;
  color: #e3e3e3;
  font-size: 20px;
  z-index: 2;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 20px 0px;
    font-size: 15px;
    
  }
  .left {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left__icon {
      padding: 20px;
      user-select: none;
    }
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon_block {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background: #2f2f2f;
      border-radius: 50%;
      cursor: pointer;
      margin: 0 5px;

      .icon {
        font-size: 20px;

        &:hover {
          color: #ffffff;
         
        }
       
        }
        &:hover{
          background:#145dbd
        }
        @media (max-width: 768px) {
          margin: 10px 2px;
         
      }
      }
      
     
     

    .icon-faPhoneAlt-block {
      background: red;
      &:hover{
        background: rgb(187, 1, 1);
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon_block {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background: #2f2f2f;
      border-radius: 50%;
      cursor: pointer;
      margin: 0 5px;
      .icon {
        font-size: 20px;

        &:hover {
          color: #ffffff;
         
        }
        @media (max-width: 768px) {
          margin: 3px;
         
      }
     
        }
        &:hover {
          color: #ffffff;
          background: #1a73e8;
        }
     
    }
  }
}
