.video-container {
  position: absolute;
  width: 100%;
  padding-bottom: 50.25%;
  @media (max-width: 2560px) {
     position: absolute;
     padding-bottom: 60.25%;
   }
  @media (max-width: 1440px) {
    position: absolute;
    padding-bottom: 100vh;
  }

  @media (max-width: 1024px) {
    padding-bottom: 100vh;
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: -1;
    background: #5f6368;
  }

  @media (max-width: 768px) {
    position: absolute;
    padding-bottom: 84vh;
  }
}
