.body{
     display: flex;
     justify-content: space-around;
     align-items: center;
     height:80vh;
     padding:0 20px;
     @media (max-width: 425px){
          flex-direction:column;
     }
     @media (max-width: 768px){
          flex-direction:column;
          text-align: center;
          align-items: center;
          justify-content: center;
     }
}

.hide{
     display: none;
}

.show{
     display:block;
}